<h1>¡Bienvenido a JEKMY!</h1>

 <!-- Ejemplo de lo que podriamos poner en una presentacion-->
<div class="box"> 
  <!--<img src="./assets/repair.png" class="  img-repair responsive center">-->

  <div id='logo_container'>
    <img src = './assets/repair.png' alt = 'Logo' class="logo img-repair">
  </div>
  <br>

  <h2>Sobre JEKMY:</h2>
  <p>JEKMY es una empresa dedicada a todo tipo de servicios relacionados a la gestión, arreglo y mantención
    de tecnologías como aparatos variados hasta distintos softwares.

    Nuestra empresa posee un sistema de atención completamente online, en donde los clientes
    pueden agendar sus horas según disponibilidad y el día de preferencia.
  </p>
  
</div>

<div class="contacto">
  <div id='logo_container'>
    <img src="./assets/icontwt.png" alt = 'Logo' class="logo img-repair">
    <img src="./assets/icongmail.png" alt="" class="logo">
    <img src="./assets/iconfb.png" alt="" class="logo">
  </div>
</div>